<div class="page signees">

<h3>Check the last signatures on board
    {{#if req_city}}
    in <strong><span style="text-transform: capitalize">{{req_city}}</span></strong>
    {{/if}}
</h3>

<h3>Already <strong>{{data.length}}</strong> signed!</h3>
    <ul>
        {{#each data}}
        <li>
            {{#if homepage}}
            <a href="http://{{homepage}}">{{first}} {{last}}</a>
            {{else}}{{first}} {{last}}
            {{/if}}
            {{#if age}}
             ( {{age}}

                {{#unless ../req_city}}

                    {{#if city}},
                        <span style="text-transform: capitalize">
                            <a href="/petition/signers/{{city}}">{{city}}</a></span>
                    {{/if}}
                {{/unless}}
            )
            {{else}}
                {{#unless ../req_city}}
                    {{#if city}}
                        ( <a href="/petition/signers/{{city}}">{{city}}</a> )
                    {{/if}}
                {{/unless}}
            {{/if}}

        </li>
        {{/each}}
    </ul>


</div>
