<div class="page">

<h3>Check the last signatures on board
    {{#if req_city}}
    in <strong>{{req_city}}</strong>
    {{/if}}
</h3>

<h3>Already <strong>{{data.length}}</strong> signed!</h3>
    <ul>
        {{#each data}}
        <li>
            {{#if homepage}}
            <a href="http://{{homepage}}">{{first}} {{last}}</a>
            {{else}}{{first}} {{last}}
            {{/if}}
            {{#if age}}
             ( {{age}}
             <!-- unless seems not working... :/ -->
            {{#unless ../req_city}}
                {{#if city}},
                    <a href="/petition/signers/{{city}}">{{city}}</a>
                {{/if}}
            {{/unless}}
            )
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
