{{> controls}}
<div class="page" id="signees">
    <h3>The latest signatures on board
        {{#if req_city}}
        in <strong><span style="text-transform: capitalize">{{req_city}}</span></strong>
        {{/if}}
    </h3>
    <h4>Already <strong>{{data.length}}</strong> signed!</h4>
    <ul>
        {{#each data}}
        <li><span>
            {{#if homepage}}
            <a href="http://{{homepage}}">{{first}} {{last}}</a>
            {{else}}{{first}} {{last}}
            {{/if}}
            {{#if age}}
            ( {{age}}
                {{#unless ../req_city}}
                    {{#if city}},
                        <span style="text-transform: capitalize">
                            <a href="/petition/signers/{{city}}">{{city}}</a></span>
                    {{/if}}
                {{/unless}}
            )
            {{else}}
                {{#unless ../req_city}}
                    {{#if city}}
                        ( <a href="/petition/signers/{{city}}">{{city}}</a> )
                    {{/if}}
                {{/unless}}
            {{/if}}
        </span>
        </li>
        {{/each}}
    </ul>
</div>
